body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #adb8c4;
}

header {
  background-color: #144697;
  color: rgb(2, 3, 4);
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgb(52, 130, 182);
}

header h1 {
  margin: 0;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: #0e47a2;
  color: rgb(5, 4, 7);
  box-shadow: 0 0 10px rgb(52, 130, 182);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1847c7;
  color: rgb(9, 5, 15);
  box-shadow: 0 0 10px rgb(52, 130, 182);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
}

a {
  color: #251150;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}